{% extends "layout.jinja2" %}
{% block body %}
            <h2>Create a New Learning Journal Entry Here:</h2>
            <form action="" method="post">
                <input class="form_large_textbox" type="text" name="title" placeholder="Type a title for your journal entry here." required>
                <textarea rows="20" cols="60" type="text" name="body" placeholder="Type your journal body here." required>
                </textarea>
                <input type="submit" value="submit" disabled>
            </form>
{% endblock %}