{% extends "layout.jinja2" %}
{% block body %}
            <h2>Learning Journal Entries</h2>
            <article class="journal_entry">
                <h3 class="journal_title">Day 12 Learning Journal</h3>
                <p class="journal_date">23 August 2016</p>
                <p>Today went alright I think. Code review and lecture went pretty smoothly, Nick got to show off some of the really cool stuff that Jinja templates (and probably all python templates) can do. It looks like once all this stuff is hooked together it’ll be really cool to work with, pages and content can be served up entirely dynamically.</p>
                <p>Victor and I made some good progress on our data structures, we got caught up to today and everything is turned in up to the Heap. We got 9/10 on our first try on our Deque, awesome. We discussed Heap for a while but didn’t get a chance to write much code yet.At 5 we did project team selection, I got on the NFL survivor challenge project. No one liked my bunny idea, sad face :(. Anyway it seems like it’ll be a neat project and the scope isn’t too large so it should be manageable.  I’m pretty behind on the Learning Journal project, hopefully I can find a way to get caught up over the next day or two. I’m going to keep working a little longer then head home, no point in staying suuuper late this early in the week.</p>
            </article>
            {
            "title": "Day 12 Learning Journal", "Date": "23 August 2016", "content": "<p>Today went alright I think. Code review and lecture went pretty smoothly, Nick got to show off some of the really cool stuff that Jinja templates (and probably all python templates) can do. It looks like once all this stuff is hooked together it’ll be really cool to work with, pages and content can be served up entirely dynamically.</p>
                <p>Victor and I made some good progress on our data structures, we got caught up to today and everything is turned in up to the Heap. We got 9/10 on our first try on our Deque, awesome. We discussed Heap for a while but didn’t get a chance to write much code yet.At 5 we did project team selection, I got on the NFL survivor challenge project. No one liked my bunny idea, sad face :(. Anyway it seems like it’ll be a neat project and the scope isn’t too large so it should be manageable.  I’m pretty behind on the Learning Journal project, hopefully I can find a way to get caught up over the next day or two. I’m going to keep working a little longer then head home, no point in staying suuuper late this early in the week.</p>", "id": 007
            }
            <article class="journal_entry">
                <h3 class="journal_title">Another Journal Entry</h3>
                <p class="journal_date">18 August 2016</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
            <article class="journal_entry">
                <h3 class="journal_title">A Wild Third Entry Appears!</h3>
                <p class="journal_date">17 August 2016</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </article>
{% endblock %}